# Baselines

모두 평균치로 예측하면 mse는?

In [47]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import mean_squared_error

## load data

In [48]:
train_df = pd.read_csv("open/train.csv", index_col='ID')
test_df = pd.read_csv("open/test.csv", index_col='ID')
sample_submission_df = pd.read_csv("open/sample_submission.csv")

train_df.shape, test_df.shape, sample_submission_df.shape

((871393, 9), (159621, 8), (159621, 2))

In [49]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 871393 entries, TRAIN_000000 to TRAIN_871392
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   User-ID              871393 non-null  object
 1   Book-ID              871393 non-null  object
 2   Book-Rating          871393 non-null  int64
 3   Age                  871393 non-null  float64
 4   Location             871393 non-null  object
 5   Book-Title           871393 non-null  object
 6   Book-Author          871393 non-null  object
 7   Year-Of-Publication  871393 non-null  float64
 8   Publisher            871393 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 66.5+ MB

In [50]:
train_df['Book-Rating'] = train_df['Book-Rating'].astype('float32')

# everyone get score three

In [51]:
train_df['Book-Rating'].median(),\
    train_df['Book-Rating'].mean(),\
        train_df['Book-Rating'].min(),\
            train_df['Book-Rating'].max()

(0.0, 2.8205793, 0.0, 10.0)

In [52]:
train_df['Book-Rating'][train_df['Book-Rating'] != 0].median(),\
    train_df['Book-Rating'][train_df['Book-Rating'] != 0].mean(),\
        train_df['Book-Rating'][train_df['Book-Rating'] != 0].min(),\
            train_df['Book-Rating'][train_df['Book-Rating'] != 0].max()

(8.0, 7.619085, 1.0, 10.0)

In [53]:
median_baseline_from_0 = train_df['Book-Rating'].median()
mean_baseline_from_0 = train_df['Book-Rating'].mean()
median_baseline_from_1 = train_df['Book-Rating'][train_df['Book-Rating'] != 0].median()
mean_baseline_from_1 = train_df['Book-Rating'][train_df['Book-Rating'] != 0].mean()

median_baseline_from_0, mean_baseline_from_0,\
    median_baseline_from_1, mean_baseline_from_1

(0.0, 2.8205793, 8.0, 7.619085)

In [55]:
train_pred = np.full((train_df.shape[0],), median_baseline_from_0)
rmse = mean_squared_error(
    train_df['Book-Rating'].values, train_pred, squared=False)
rmse

4.7701497

In [56]:
train_pred = np.full((train_df.shape[0],), mean_baseline_from_0)
rmse = mean_squared_error(
    train_df['Book-Rating'].values, train_pred, squared=False)
rmse

3.8469033

In [57]:
train_pred = np.full((train_df.shape[0],), median_baseline_from_1)
rmse = mean_squared_error(
    train_df['Book-Rating'].values, train_pred, squared=False)
rmse

6.4517493

In [58]:
train_pred = np.full((train_df.shape[0],), mean_baseline_from_1)
rmse = mean_squared_error(
    train_df['Book-Rating'].values, train_pred, squared=False)
rmse

6.1501484

# 가장 낮은 mse의 baseline 저장

In [63]:
test_pred = np.full((test_df.shape[0],), mean_baseline_from_0)
test_pred

array([2.8205793, 2.8205793, 2.8205793, ..., 2.8205793, 2.8205793,
       2.8205793], dtype=float32)

In [64]:
sample_submission_df = pd.read_csv("open/sample_submission.csv")
sample_submission_df

                 ID  Book-Rating
0       TEST_000000            0
1       TEST_000001            0
2       TEST_000002            0
3       TEST_000003            0
4       TEST_000004            0
...             ...          ...
159616  TEST_159616            0
159617  TEST_159617            0
159618  TEST_159618            0
159619  TEST_159619            0
159620  TEST_159620            0

[159621 rows x 2 columns]

In [67]:
mname = 'baseline'

In [68]:
def make_report(template, test_pred, mname):
    template['Book-Rating'] = test_pred
    now = dt.strftime(dt.now(), '%y-%m-%d')
    template.to_csv(f'results/{mname}-{now}.csv', index=False)
    
make_report(sample_submission_df, test_pred, mname)

# 제출 결과: test_rmse
3.8965989906