# MLP Modeling - 2
1과의 다른 점이라 함은, default 값이었던 하이퍼파라미터를 지정해주었다는 것? 이를 토대로 노트북 -> python 프로그램으로 바꿀 예정

In [1]:
import os
from datetime import datetime as dt

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import optuna

/opt/conda/envs/general/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## load data

In [2]:
train_df = pd.read_csv("open/train.csv", index_col='ID')
test_df = pd.read_csv("open/test.csv", index_col='ID')
sample_submission_df = pd.read_csv("open/sample_submission.csv")

train_df.shape, test_df.shape, sample_submission_df.shape

((871393, 9), (159621, 8), (159621, 2))

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 871393 entries, TRAIN_000000 to TRAIN_871392
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   User-ID              871393 non-null  object
 1   Book-ID              871393 non-null  object
 2   Book-Rating          871393 non-null  int64
 3   Age                  871393 non-null  float64
 4   Location             871393 non-null  object
 5   Book-Title           871393 non-null  object
 6   Book-Author          871393 non-null  object
 7   Year-Of-Publication  871393 non-null  float64
 8   Publisher            871393 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 66.5+ MB

## preprocess data

In [4]:
train_users = train_df['User-ID'].unique()
train_books = train_df['Book-ID'].unique()

len(train_users), len(train_books)

(83256, 243441)

In [5]:
test_users = test_df['User-ID'].unique()
test_books = test_df['Book-ID'].unique()

len(test_users), len(test_books)

(21909, 62333)

In [6]:
len(set(train_users) | set(test_users)), len(set(train_books) | set(test_books))

(92101, 270056)

새로운 유저, 새로운 책이 분명 있음

In [7]:
train_df.head()

,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
ID,,,,,,,,,
TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

User feature
 * Age: int
 * Location: string

Book feature
 * Book-Title: string
 * Book-Author: string
 * Year-Of-Pulication: int
 * Publisher: string

특징의 분해 이전에 label 형태로도 해볼 수 있음

# Feature Selection

In [8]:
features = test_df.columns
features

Index(['User-ID', 'Book-ID', 'Age', 'Location', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher'],
      dtype='object')

In [9]:
continuous_features = ['Age', 'Year-Of-Publication']
categorical_features = ['Location', 'Book-Title', 'Book-Author', 'Publisher']

In [10]:
train_df['Location'] = train_df['Location'].str.replace(' ', '')
train_df['Location_country'] = train_df['Location'].apply(lambda x: x.split(',')[-1])
train_df['Location_city'] = train_df['Location'].apply(lambda x: x.split(',')[-2])
train_df.drop(columns='Location', inplace=True)
train_df.head()

,User-ID,Book-ID,Book-Rating,Age,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location_country,Location_city
ID,,,,,,,,,,
TRAIN_000000,USER_00000,BOOK_044368,8,23.0,Road Taken,Rona Jaffe,2001.0,Mira,canada,newbrunswick
TRAIN_000001,USER_00000,BOOK_081205,8,23.0,Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books,canada,newbrunswick
TRAIN_000002,USER_00000,BOOK_086781,0,23.0,Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books,canada,newbrunswick
TRAIN_000003,USER_00000,BOOK_098622,0,23.0,Mother Earth Father Sky,Sue Harrison,1991.0,Avon,canada,newbrunswick
TRAIN_000004,USER_00000,BOOK_180810,8,23.0,She Who Remembers,Linda Lay Shuler,1989.0,Signet Book,canada,newbrunswick

In [11]:
test_df['Location'] = test_df['Location'].str.replace(' ', '')
test_df['Location_country'] = test_df['Location'].apply(lambda x: x.split(',')[-1])
test_df['Location_city'] = test_df['Location'].apply(lambda x: x.split(',')[-2])
test_df.drop(columns='Location', inplace=True)
test_df.head()

,User-ID,Book-ID,Age,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location_country,Location_city
ID,,,,,,,,,
TEST_000000,USER_00008,BOOK_047966,37.0,Birds of Prey: A Novel of Suspense,J.A. Jance,2002.0,Avon,usa,ohio
TEST_000001,USER_00008,BOOK_119494,37.0,Midnight Voices,JOHN SAUL,2003.0,Ballantine Books,usa,ohio
TEST_000002,USER_00008,BOOK_151775,37.0,Breaking Free : A Prescription for Personal an...,David M. Noer,1996.0,Jossey-Bass,usa,ohio
TEST_000003,USER_00008,BOOK_176255,37.0,Bitter Harvest,Ann Rule,1999.0,Pocket,usa,ohio
TEST_000004,USER_00008,BOOK_187307,37.0,Embraced by the Light,Betty J. Eadie,1994.0,Bantam Books,usa,ohio

# encoding

for location_country, publisher

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
cont_encoder = OneHotEncoder(handle_unknown='ignore')
train_country_array = cont_encoder.fit_transform(train_df[['Location_country']]).toarray()
test_country_array = cont_encoder.transform(test_df[['Location_country']]).toarray()

In [14]:
# pub_encoder = OneHotEncoder(handle_unknown='ignore')
# train_publisher_array = pub_encoder.fit_transform(train_df[['Publisher']]).toarray()
# test_publisher_array = pub_encoder.transform(train_df[['Publisher']]).toarray()

# scaling

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
train_cont_array = scaler.fit_transform(train_df[continuous_features])
test_cont_array = scaler.transform(test_df[continuous_features])

# merge prcessed data

In [17]:
train_cont_array.shape, train_country_array.shape#, train_publisher_array.shape

((871393, 2), (871393, 243))

In [18]:
train_x = np.concatenate([train_cont_array, train_country_array], axis=1) #train_publisher_array
test_x = np.concatenate([test_cont_array, test_country_array], axis=1) #test_publisher_array

train_x.shape, test_x.shape

((871393, 245), (159621, 245))

In [19]:
train_y = train_df['Book-Rating'].values
train_y.shape

(871393,)

In [20]:
# train_array = np.concatenate([train_cont_array, train_country_array, train_publisher_array], axis=1)
# test_array = np.concatenate([test_cont_array, test_country_array, test_publisher_array], axis=1)

## first Trial

In [21]:
mname = 'mlpregressor'

In [22]:
from sklearn.neural_network import MLPRegressor

In [23]:
mlp = MLPRegressor(
    warm_start=True, learning_rate='adaptive', 
    activation='relu', batch_size=100, verbose=1, 
    random_state=42, max_iter=500)

In [24]:
mlp.fit(train_x, train_y)

Iteration 1, loss = 7.33940769
Iteration 2, loss = 7.29654412
Iteration 3, loss = 7.28895794
Iteration 4, loss = 7.28246655
Iteration 5, loss = 7.27683403
Iteration 6, loss = 7.27128892
Iteration 7, loss = 7.26637750
Iteration 8, loss = 7.26009798
Iteration 9, loss = 7.25516507
Iteration 10, loss = 7.25052316
Iteration 11, loss = 7.24648508
Iteration 12, loss = 7.24270885
Iteration 13, loss = 7.23947332
Iteration 14, loss = 7.23720072
Iteration 15, loss = 7.23487028
Iteration 16, loss = 7.23264992
Iteration 17, loss = 7.23095062
Iteration 18, loss = 7.22934724
Iteration 19, loss = 7.22765679
Iteration 20, loss = 7.22667590
Iteration 21, loss = 7.22458144
Iteration 22, loss = 7.22405742
Iteration 23, loss = 7.22247995
Iteration 24, loss = 7.22228038
Iteration 25, loss = 7.22070622
Iteration 26, loss = 7.21946391
Iteration 27, loss = 7.21909872
Iteration 28, loss = 7.21821334
Iteration 29, loss = 7.21679018
Iteration 30, loss = 7.21656546
Iteration 31, loss = 7.21549345
Iteration 32, loss = 7.21504163
Iteration 33, loss = 7.21458723
Iteration 34, loss = 7.21385905
Iteration 35, loss = 7.21330497
Iteration 36, loss = 7.21208805
Iteration 37, loss = 7.21200350
Iteration 38, loss = 7.21195878
Iteration 39, loss = 7.21126588
Iteration 40, loss = 7.21137117
Iteration 41, loss = 7.21052300
Iteration 42, loss = 7.21035613
Iteration 43, loss = 7.21008957
Iteration 44, loss = 7.20926500
Iteration 45, loss = 7.20973886
Iteration 46, loss = 7.20877208
Iteration 47, loss = 7.20850003
Iteration 48, loss = 7.20759838
Iteration 49, loss = 7.20771409
Iteration 50, loss = 7.20737522
Iteration 51, loss = 7.20662252
Iteration 52, loss = 7.20749907
Iteration 53, loss = 7.20693995
Iteration 54, loss = 7.20562303
Iteration 55, loss = 7.20592766
Iteration 56, loss = 7.20633061
Iteration 57, loss = 7.20518964
Iteration 58, loss = 7.20521828
Iteration 59, loss = 7.20417714
Iteration 60, loss = 7.20535291
Iteration 61, loss = 7.20412433
Iteration 62, loss = 7.20452656
Iteration 63, loss = 7.20479394
Iteration 64, loss = 7.20390779
Iteration 65, loss = 7.20337858
Iteration 66, loss = 7.20448811
Iteration 67, loss = 7.20355646
Iteration 68, loss = 7.20317087
Iteration 69, loss = 7.20264733
Iteration 70, loss = 7.20242669
Iteration 71, loss = 7.20225532
Iteration 72, loss = 7.20214647
Iteration 73, loss = 7.20202412
Iteration 74, loss = 7.20149096
Iteration 75, loss = 7.20204155
Iteration 76, loss = 7.20124576
Iteration 77, loss = 7.20158527
Iteration 78, loss = 7.20099225
Iteration 79, loss = 7.20124765
Iteration 80, loss = 7.20065121
Iteration 81, loss = 7.20107497
Iteration 82, loss = 7.20003546
Iteration 83, loss = 7.20077354
Iteration 84, loss = 7.20057233
Iteration 85, loss = 7.20034850
Iteration 86, loss = 7.19980821
Iteration 87, loss = 7.19967636
Iteration 88, loss = 7.19938718
Iteration 89, loss = 7.19964496
Iteration 90, loss = 7.19880873
Iteration 91, loss = 7.19849239
Iteration 92, loss = 7.19855875
Iteration 93, loss = 7.19835478
Iteration 94, loss = 7.19933567
Iteration 95, loss = 7.19932776
Iteration 96, loss = 7.19797622
Iteration 97, loss = 7.19812582
Iteration 98, loss = 7.19822908
Iteration 99, loss = 7.19766296
Iteration 100, loss = 7.19804384
Iteration 101, loss = 7.19694127
Iteration 102, loss = 7.19711270
Iteration 103, loss = 7.19749419
Iteration 104, loss = 7.19697213
Iteration 105, loss = 7.19714280
Iteration 106, loss = 7.19670986
Iteration 107, loss = 7.19658043
Iteration 108, loss = 7.19697201
Iteration 109, loss = 7.19694061
Iteration 110, loss = 7.19659901
Iteration 111, loss = 7.19640581
Iteration 112, loss = 7.19604696
Iteration 113, loss = 7.19618043
Iteration 114, loss = 7.19528703
Iteration 115, loss = 7.19618771
Iteration 116, loss = 7.19552920
Iteration 117, loss = 7.19536875
Iteration 118, loss = 7.19520484
Iteration 119, loss = 7.19622646
Iteration 120, loss = 7.19537667
Iteration 121, loss = 7.19509750

In [ ]:
train_pred = mlp.predict(train_x)
train_pred

array([3.35973996, 2.80756705, 2.80756705, ..., 3.55383282, 2.40314881,
       2.9251127 ])

In [ ]:
train_pred.shape

(871393,)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rmse = mean_squared_error(train_y, train_pred, squared=False)
rmse

3.7896076664581213

In [ ]:
test_pred = mlp.predict(test_x)
test_pred

array([2.53896857, 2.56751312, 2.36770129, ..., 3.19584419, 3.31259461,
       3.40015742])

In [ ]:
sample_submission_df = pd.read_csv("open/sample_submission.csv")
sample_submission_df

                 ID  Book-Rating
0       TEST_000000            0
1       TEST_000001            0
2       TEST_000002            0
3       TEST_000003            0
4       TEST_000004            0
...             ...          ...
159616  TEST_159616            0
159617  TEST_159617            0
159618  TEST_159618            0
159619  TEST_159619            0
159620  TEST_159620            0

[159621 rows x 2 columns]

In [ ]:
def make_report(template, test_pred, mname):
    template['Book-Rating'] = test_pred
    now = dt.strftime(dt.now(), '%y-%m-%d')
    template.to_csv(f'results/{mname}-{now}.csv', index=False)
    
make_report(sample_submission_df, test_pred, mname)

test_rmse = ???